{{#if editAnswerForm}}
  {{edit-answer answer=answer updateAnswer="updateAnswer" deleteAnswer="deleteAnswer"}}
{{else}}
  <div class="panel panel-default">
    <div class="panel-body">
      <blockquote>{{answer.text}}</blockquote>
      <h6>By: {{answer.author}}</h6>
      <small>{{answer.date}}</small>
      <button class="btn btn-warning" {{action 'editAnswerForm'}}>Edit</button>
    </div>
  </div>
{{/if}}
